@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}

header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  height: 90px;
  padding-bottom: 10px;
}

h1 {
  font-weight: 300;
}

.countdown-container {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
}

.countdown-item span {
  display: block;
  font-weight: light;
  color: #E63F36; /* Alterado para vermelho */
}

.countdown-label {
  font-size: 0.5em;
  color: #E63F36; /* Alterado para vermelho */
}

span#days-number {
  font-size: 1.5em;
  font-weight: bold;
}

span#hours-number {
  font-size: 1.5em;
  font-weight: bold;
}

span#minutes-number {
  font-size: 1.5em;
  font-weight: bold;
}

span#seconds-number {
  font-size: 1.5em;
  font-weight: bold;
}

main > section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

main > section.imagem {
  background-color: #6B1814;
  color: white;
  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.034);
  background-size: cover;
  
  background-repeat: no-repeat;
}

main > section#img01 {
background-image: url('../imagens/vodafone\ \(1\).png');
background-position: center bottom;
height: 900px;
}


h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  text-shadow: 4px 2px 4px #6B1814;
  text-indent: 20%;
}

 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #FFEC7D;
  text-indent: 20%;
  margin-top: 20px;
  font-size: 1.5em;
  
}

section.branco{
  background-color: #CCCCCC;
  height: 200px;
}

div#formulario {
  text-align: center;
}

div#formulario > h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 30px;
}

div.campo > input {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 2px;
  padding: 4px;
  
}

form > input[type=submit] {
  display: block;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 200px;
  height: 50px;
  background-color: #E63F36;
  color: white;
  border-radius: 25px;
  border: none;

}
  

form > input[type=submit]:hover {
  background-color: #812520;
}

main > section.imagem03 {
  background-color: #EFEFEF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.034);
  background-size: auto;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: right center;
}

main > section#img03 {
  height: 600px;
  background-color: #EFEFEF;
  background-image: url(../imagens/imagem.png);
}

section.imagem03 > h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-indent: 15%;
}

section.imagem03 > p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  width: 600px;
  font-weight: 300;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: -20px;
  text-indent: 0;
}

section.imagem03 > p.forte {
  font-weight: bold;
}



main > section.imagem02 {
  background-color: #6B1814;
  color: white;
  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.034);
  background-size: cover;
  
  background-repeat: no-repeat;
}

section.imagem02 > h2 {
  text-indent: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

section.imagem02 > p {
  text-indent: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px black;
  margin-top: 50px;
}

main > section#img02 {
  background-image: url('../imagens/vodafone\ 2.png');
  height: 800px;
  margin-top: 0;
  background-position: right bottom;
  }

  div#formulario2{
    text-align: left;
    margin-top: 50px;
  }

  div#formulario2 > form > input[type=submit] {
    display: block;
    margin: 0;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: #E63F36;
    color: white;
    border-radius: 25px;
    border: none;
  
  }



